## Mulitple Linear Regression

### Predict the likelihood of admission

<p>
<b>Context</b>
    <br>This dataset is created for prediction of Graduate Admissions from an Indian perspective.

<b>Content</b>
<br>The dataset contains several parameters which are considered important during the application for Masters Programs.

The parameters included are :

<ul>
<li>GRE Scores ( out of 340 )
<li>TOEFL Scores ( out of 120 )
<li>University Rating ( out of 5 )
<li>Statement of Purpose and Letter of Recommendation Strength ( out of 5 )
<li>Undergraduate GPA ( out of 10 )
<li>Research Experience ( either 0 or 1 )
<li>Chance of Admit ( ranging from 0 to 1 )
</ul>

<b>Acknowledgements</b>
This dataset is inspired by the UCLA Graduate Dataset. The test scores and GPA are in the older format.


<b>Inspiration</b>
This dataset was built with the purpose of helping students in shortlisting universities with their profiles. The predicted output gives them a fair idea about their chances for a particular university.
</p>

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv("../datasource/admission_predict.csv")

# take a look at the dataset
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65